/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1150px) {
    
}

/* ipad air  */
@media only screen and (max-device-width: 820px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

   
}

/* /* ---- iphone 13pro max ---------- */
@media only screen and (max-device-width: 430px) {

   
}

/* /* ---- iphone XR max ---------- */
@media only screen and (max-device-width: 414px) {


}

/* pixel 5  ----------- */
@media only screen and (max-device-width: 393px) {

}

/* iPhone 12 pro ----------- */
@media only screen and (max-device-width: 390px) {
   
}

/* iPhone 6, 7, 8 ----------- */
@media only screen and (max-device-width: 375px) {
  
}

/* samsung galaxy  */
@media only screen and (max-device-width: 360px) {

    .mainSection {
        grid-template-columns: 1fr;
    }

    .mainDiv{
        margin-top: 50px;
    }

    .boxes p {
        width: 100%
    }

    h1 {
        font-size: 2rem;
        margin: 8px;
    }
    .boxes{
        /* padding: 20px; */
        padding: 7%;
    }

}
@media only screen and (max-device-width: 300px) {

  

}




